[submodule "src/github.com/yuin/gopher-lua"]
	path = src/github.com/yuin/gopher-lua
	url = https://github.com/yuin/gopher-lua.git
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/github.com/lib/pq"]
	path = src/github.com/lib/pq
	url = https://github.com/lib/pq.git
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "src/gopkg.in/xmlpath.v2"]
	path = src/gopkg.in/xmlpath.v2
	url = https://gopkg.in/xmlpath.v2
[submodule "src/github.com/go-goracle/goracle"]
	path = src/github.com/go-goracle/goracle
	url = https://github.com/go-goracle/goracle.git
[submodule "src/github.com/pkg/errors"]
	path = src/github.com/pkg/errors
	url = https://github.com/pkg/errors.git
