[submodule "src/github.com/yuin/gopher-lua"]
	path = src/github.com/yuin/gopher-lua
	url = https://github.com/yuin/gopher-lua.git
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
