image: centos:6

types:
- build

cache:
  untracked: false

rpm:

  type: build

  script:
  - echo -e "[wandisco-Git]\nname=CentOS-6 - Wandisco Git\nbaseurl=http://opensource.wandisco.com/centos/6/git/\$basearch/\nenabled=1\ngpgcheck=0" > /etc/yum.repos.d/wandisco-git.repo
  - yum install -y epel-release
  - yum install -y wget make git gzip rpm-build nc
  - yum groupinstall -y "Development tools"
  - wget https://redirector.gvt1.com/edgedl/go/go1.8.5.linux-amd64.tar.gz -O /tmp/go.linux-amd64.tar.gz
  - tar xvf /tmp/go.linux-amd64.tar.gz -C /usr/local
  - ln -s /usr/local/go/bin/go* /usr/local/bin/
  - make docker
  - rsync -aP /build/RPMS/x86_64/*.rpm rsync://repo6.itv.restr.im/infra/6/x86_64/
  - echo 'infra/6/x86_64' | nc -w5 repo6.itv.restr.im 8008

  artifacts:
    paths:
    - /build/RPMS/x86_64/*.rpm

  tags:
  - lowcapacity

  only:
  - tags
